.bg-image-1{
    background-image: url(asset/img/allef.jpg);
    background-size: 100%;
    background-position: 0 -15rem ;
    height: 80vh;
    /* background-repeat: no-repeat; */
}
.overlay{
    background: rgba(0, 0, 0, 0.288);
    
}
